/*
###################################################################################################
1.Global
2.Home
  -header
  -hero
  -experience
  -testimonials
  -project
  -footer
3.contact

*/

/**  Global styles **/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;

}

/*
################################################################################################
#########################################  Header ##############################################
################################################################################################ */
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */


}


.nav-brand {
    width: 8.7rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: #eb648c;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;

}

.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}

.nav-home {
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/bg-hero.jpg") center no-repeat;
    background-size: cover;
    height: auto;
    margin: 0;
}

@media screen and (min-width: 700px) {
    header {
        height: 8rem;
        margin-top: 2rem;

    }

    .nav-brand {
        width: 3.5rem;
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.5rem;
    }

    .nav-link,
    .current {
        color: #fafafa;
        position: relative;
        font-size: 1.4rem;

    }

    .nav-link::before,
    .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #eb648c;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current::before {
        transform: scaleX(1);
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }



}

/*
################################################################################################
#########################################  hero  ##############################################
################################################################################################ */

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/bg-hero.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}


.hero .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem;
}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(15%);
}

.main-content {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(30%);
}

.main-content h3 {
    font-size: 1.6rem;
}

.main-content h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.main-content p {
    text-transform: lowercase;
}

.btn {
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1.5rem 3.1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: background-color 650ms;
}

.btn:hover {
    background-color: #ce587b;
}


/* media */
@media screen and (max-width: 768px) {
    .main-message {
        display: none;
    }
}



/*
################################################################################################
#########################################  experience ##############################################
################################################################################################ */

/*  experience the outdoors  */
.experience-outdoors {
    padding: 0;
    margin-top: 5rem;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, .7);
}



.title-heading h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    margin: .5rem 0 1rem;
}

.title-heading p {
    text-transform: lowercase;
}

.activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;


}

.activities-grid-item {
    height: auto;
    padding: 5rem;
    color: #fafafa;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.activities-grid-item::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
    z-index: -1;
    border-radius: 5px;

}


.star-gazing {
    background: url("../images/stars.jpg") center no-repeat;
    border-radius: 5px;
}


.hiking {
    background: url("../images/hiking.jpg") center no-repeat;
    border-radius: 5px;
}

.domain {
    background: url("../images/laptop-1846277_1280.jpg") center no-repeat;
    border-radius: 5px;
}

.activities-grid-item i {
    font-size: 4rem;
    color: #eb648c;
    text-align: center;
}

.activities-grid-item h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center;
}

.activities-grid-item p {
    text-align: start;
    align-items: center;
    justify-content: center;
}

.activities-grid-item:hover::before {

    background-image: linear-gradient(135deg, rgba(49, 24, 131, 0.7) 0%, rgba(72, 56, 149, 0.6) 100%);
    transform: scaleY(-1);
    transform-origin: left;
    transition: transform 650ms;

}



/*
################################################################################################
#########################################  testimonials  ##############################################
################################################################################################ */

.testimonials {
    width: 100%;

    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/testimonials-bg.jpg") center no-repeat fixed;
    background-size: cover;

}

/* .testimonials::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;


} */

.testimonial {
    width: 70%;
    color: #fafafa;
    /* top: 45%;
    left: 50%; */
    margin: 10rem auto;
    text-align: center;
}

.testimonial-customer p {
    line-height: 1.5em;
    align-items: start;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2.4rem;
}

.testimonial-text-box {
    padding: 0 1.5rem;
    margin-bottom: 2rem;

}

.testimonial-text-box i {
    /* position: absolute;
    top: -9rem;
    left: 50%;
    transform: translateX(-50%); */
    font-size: 4rem;
    color: #eb648c;
    opacity: .7;
    z-index: 1;
}

.testimonial-customer img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #eb648c;
}

.testimonial-customer h3 {
    font-size: 2.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    padding-bottom: .7rem;
    font-family: 'Aldrich', sans-serif;
}

.testimonial-customer h4 {
    font-size: 1.7rem;
    line-height: 1.5rem;
    font-weight: bold;
    padding: .7rem;

}

/*
################################################################################################
#########################################  project  ##############################################
################################################################################################ */
.projects {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.project-items-links {
    width: 60%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.project-item-link {
    border: 2px solid rgba(49, 24, 131, 0.9);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(49, 24, 131, 0.9);
    cursor: pointer;
    border-radius: 30px;
    transition: .4s ease;
}

.menu-active,
.project-item-link:hover {
    background-color: rgba(49, 24, 131, 0.9);
    color: #fafafa;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-img {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(175, 175, 175, 0.4);
    height: 24rem;
    animation: SclAnimation .4s ease;
    position: relative;
}

.project-heading {
    margin: 0px;
}


@keyframes SclAnimation {
    0% {
        transform: scale(0);

    }

    100% {
        transform: scale(1)
    }
}


.project-img:hover .overlay {
    top: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(transparent, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: .4s ease;
}

.overlay h4 {
    font-size: 20px;
    color: #fafafa;
}

.action-aria {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pbtn {
    display: inline-block;
    width: fit-content;
    padding: 7px 14px;
    background: #fafafa;
    border-radius: 12px;
    text-decoration: none;
    color: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: .4s ease;
}

.pbtn:hover,
.btn-lignt {
    background: transparent;
    border-color: #fafafa;
    color: #fafafa;
}

.btn-lignt:hover {
    background: #fafafa;
    color: rgba(49, 24, 131, 0.9);
}

.project-img:hover img {
    transform: scale(1.1);
}

.project-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: .4s ease;
}

/* media*/

@media(max-width:1024px) {
    .project-items-links {
        width: 90%;
    }

}

@media (max-width:991px) {
    .project-items-links {
        width: 100%;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:600px) {
    .project-items-links {
        gap: 5px;
        flex-wrap: wrap;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .project-img {
        height: max-content;
    }
}


/*
################################################################################################
#########################################  footer  ##############################################
################################################################################################ */


footer {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/web-1738168_1280.jpg") center no-repeat;
    background-size: cover;
    /* position: relative; */
}

footer img {
    width: 200px;
    height: 200px;
    justify-content: center;
}

.main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 2.5rem;
    padding: 2.5rem 0;
    color: #fafafa;



}

.footer-center {
    display: grid;
    justify-content: end;
}


.footer-right {
    display: grid;
    justify-content: end;

}

.footer-content h3 {

    padding: 1rem 0;
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
}

.footer-text i {
    margin: .2rem;
}

.footer-content p {
    margin: .8rem;
    line-height: 2.5rem;

}

.footer-right {
    float: right;
    overflow: hidden;
    justify-content: flex-end;
    align-items: end;

}

.footer-right h3 {
    margin-left: 2.5rem;
    padding: 1rem 0;
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;


}

.footer-content img {
    width: 100%;
    height: 10rem;
}


.footer-text ul {

    font-size: 2rem;


}

.footer-text ul a {
    color: #fff;
}

.bfooter {
    width: 100%;
    height: 5rem;
    background: linear-gradient(135deg, rgba(15, 0, 65, 0.9) 0%, rgba(39, 9, 190, 0.8) 100%);
    justify-content: center;
    align-items: center;

}

.bfooter p {
    color: #fafafa;
    text-align: center;
    font-size: 1.5em;
    padding-top: 2rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*
################################################################################################
#########################################  contact  ##############################################
################################################################################################ */

.contact {
    background: url(../images/6768ed309d0cd994ed9a22f04bce0ec8.svg) center no-repeat;
    background-size: cover;
    height: 300px;
    overflow: hidden;

}


.contact .container {
    padding-top: 8.2rem;
    color: #fafafa;
}

.contact .container h1 {
    color: #fff;
    font-size: 5.5rem;
}



.contact .content p {
    font-weight: 300;
    color: #fafafa;
}

.contact-main .contactinfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
    padding: 2.5rem 0;
    align-items: center;
    text-align: center;
    justify-content: center;


}

.contact-main .contactinfo .icons {
    width: 60px;
    height: 60px;
    background: #08004d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 3.4rem;
    margin: 1.4rem auto;
    cursor: pointer;

}



.contact-main .contactinfo .box-text h3 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
}

.contact-main .contactinfo .box-text p {
    font-size: 1.8rem;

}

.contact-main .contactform {
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.contact-main .contactform h2 {
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    margin: 2.4rem auto;
}


.contactform {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
}

.contactform {

    padding: 3em;
    color: white;
    height: auto;
    width: 90%;
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/web-1738168_1280.jpg") center no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow:
        0 0.4px 0.6px rgba(0, 0, 0, 0.141),
        0 1px 1.3px rgba(0, 0, 0, 0.202),
        0 1.9px 2.5px rgba(0, 0, 0, 0.25),
        0 3.4px 4.5px rgba(0, 0, 0, 0.298),
        0 6.3px 8.4px rgba(0, 0, 0, 0.359),
        0 15px 20px rgba(0, 0, 0, 0.5);


}

.login-form h1 {
    margin-bottom: 0.3em;
    padding: 12px 0;
    font-size: 2.5em;
    font-family: 'Aldrich', sans-serif;
}



.form-field {
    position: relative;
    margin: 1.2rem 0;

}


input,
textarea {
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    width: 400px;
    font-size: 1.3rem;
    color: #fff;
    /* border-bottom: 1px solid #fafafa; */
    border-bottom: 1.2px solid #fafafa;
    outline: none;
    resize: none;

}


input:focus~label,
input:not(:placeholder-shown)~label {
    transform: translateY(-24px) scale(0.75);
}

textarea:focus~label,
textarea:not(:placeholder-shown)~label {
    transform: translateY(-24px) scale(0.75);
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.3s ease;
    font-size: 2rem;
    color: #fff;
    font-family: 'Aldrich', sans-serif;
}

.contactform .btn {
    border: 1px solid rgba(49, 24, 131, 0.9);
    cursor: pointer;
}


/*
################################################################################################
#########################################  about  ##############################################
################################################################################################ */
.about {
    background-color: #f8f8f8;
    overflow: hidden;
    margin-top: 3rem;
}

.about h1 {
    color: rgba(49, 24, 131, 0.9);
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
}

.about-main {
    display: flex;
}

.about-content {
    flex: 1;
    width: 60%;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}

.about-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-content p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}



.about-hero {
    flex: 1;
    width: 40%;
    margin: auto;
    animation: fadeInRight 2s ease;
}

.about-hero img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* media*/
@media screen and (max-width: 768px) {
    .about h1 {
        font-size: 45px;
        margin-top: 30px;
    }

    .about-main {
        margin: 0;
    }

    .about-main {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0 40px;
    }

    .about-content {
        width: 100%;
        margin: 35px 0px;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-hero img {
        width: 100%;

    }


}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}


/*
################################################################################################
#########################################  pricing  ##############################################
################################################################################################ */
.pricing {
    margin-top: 900px;
    overflow: hidden;
    margin: 5% auto;
    font-family: pppins;


}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 0.5rem;
}

.single-price {

    background: #f2f2f2;
    cursor: pointer;
    padding: 3.4rem 0;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.9s;
    border-radius: 10px;


}



.single-price h1 {
    font-size: 2.5rem;
    color: #7F809F;
    line-height: 3;
    text-transform: capitalize;
    font-family: 'Aldrich', sans-serif;
}

.price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgba(49, 24, 131, 0.9);
    margin: 0 auto;


}

.price h2 {

    font-size: 2.5rem;
    color: #303233;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Aldrich', sans-serif;
    padding: 4.1rem 0;
}

.price h2 small {
    font-size: 1.2rem;
}

.deals {
    margin-top: 5%;
    justify-content: start;
    align-items: start;
}

.deals .ion-md-checkmark {
    color: #8CC1C6;
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 0.5rem;
}

.deals .ion-md-close {
    color: #E3482E;
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 0.5rem;
}

.deals p {
    text-align: center;
    color: #2d2c2c;
    line-height: 3.1rem;
}

.standard {
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/find-a-hosting.eeb44f3d099d4a05b9a9f105efc12d46.svg") center no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    z-index: 1;
}

.standard .price {
    border-color: #fff;
}

.standard .price h2,
.standard .deals p {
    color: #fff;
}